# Ignore bundler config.
/.bundle
/neo4j-rails/.bundle
/neo4j-rails/vendor

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/neo4j-rails/log/*.log
/neo4j-rails/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# node
npm-debug.log
node_modeles/
build/

react-rails/vendor/bundle/
